name: Build App
 
on:
  push:
    tags:
      - '*'
 
jobs:
  build:
 
    runs-on: windows-latest
 
    steps:
    - uses: actions/checkout@v1
      name: Checkout Code
      with:
        submodules: recursive
        
    - name: Set Version
      run: echo ::set-env name=RELEASE_VERSION::$(echo ${{ github.ref }})
            
    - name: Update Assembly version
      shell: powershell
      run: (Get-Content LostArkLogger\Properties\AssemblyInfo.cs).replace('1.0.0.0', '${{ github.ref }}').replace("refs/tags/v", "") | Set-Content LostArkLogger\Properties\AssemblyInfo.cs
      
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1
       
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.6
     
    - name: Restore NuGet Packages
      run: nuget restore LostArkLogger.sln
        
    - name: Build
      run: msbuild LostArkLogger.sln /p:Configuration=Debug
